{% load humanize %}
<div class="tab-pane fade"
     id="deductions"
     role="tabpanel"
     aria-labelledby="deductions-tab">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-sm text-white"
            data-bs-toggle="modal"
            data-bs-target="#addDeductionModal"
            style="background-color: #3626a7">
      <i class="bi bi-plus-circle"></i> Add Deduction
    </button>
  </div>
  <table id="deductionsTable"
         class="table table-bordered table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for deduction in deductions %}
        <tr>
          <td class="text-start">{{ deduction.name }}</td>
          <td>
            <!-- Edit Button -->
            <button type="button"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editDeductionModal{{ deduction.id }}">
              <i class="bi bi-pencil"></i>
            </button>
            <!-- Delete Button -->
            <button type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteDeductionModal{{ deduction.id }}">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <!-- Edit Deduction Modal -->
        {% include "modals/edit_modals/edit_deduction_modal.html" %}
        <!-- Delete Deduction Modal -->
        {% include "modals/delete_modals/delete_deduction_modal.html" %}
      {% endfor %}
    </tbody>
  </table>
</div>
