<div class="tab-pane fade show active table-responsive"
     id="employees"
     role="tabpanel"
     aria-labelledby="employees-tab">
  <div class="d-flex justify-content-end mb-3 gap-2">
    <button class="btn btn-sm text-white"
            data-bs-toggle="modal"
            data-bs-target="#addEmployeeModal"
            style="background-color: #3626a7">
      <i class="bi bi-plus-circle"></i> Add Employee
    </button>
    <!-- Delete All Employees Button -->
    <button class="btn btn-sm text-white bg-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteAllEmployeesModal">
      <i class="bi bi-trash"></i> Delete All Employees
    </button>
  </div>
  <table id="employeesTable"
         class="table table-bordered table-striped table-hover">
    <thead class="table-primary">
      <tr>
        <th class="text-start">ID Number</th>
        <th class="text-start">Name</th>
        <th class="text-start">Email</th>
        <th class="text-start">Job Group</th>
        <th class="text-start">Department</th>
        <th class="text-start">Branch</th>
        <th class="text-start">Verified</th>
        <th class="text-start">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <!-- Displaying Employee Information -->
          <td class="text-start">{{ employee.id_number }}</td>
          <td class="text-start">{{ employee.first_name }} {{ employee.last_name }}</td>
          <td class="text-start">{{ employee.email }}</td>
          <td class="text-start">{{ employee.job_group.name }}</td>
          <td class="text-start">{{ employee.department.name }}</td>
          <td class="text-start">{{ employee.branch.name }}</td>
          <td>
            {% if employee.verified %}
              <span class="badge bg-success">Yes</span>
            {% else %}
              <span class="badge bg-danger">No</span>
            {% endif %}
          </td>
          <td>
            <!-- Edit Button -->
            <button type="button"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editEmployeeModal-{{ employee.id_number }}">
              <i class="bi bi-pencil"></i>
            </button>
            <!-- Delete Button -->
            <button type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteEmployeeModal-{{ employee.id_number }}">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <!-- Edit Employee Modal -->
        {% include "modals/edit_modals/edit_employee_modal.html" %}
        <!-- Delete Employee Modal -->
        {% include "modals/delete_modals/delete_employee_modal.html" %}
      {% endfor %}
    </tbody>
  </table>
</div>
