{% load humanize %}
<div class="tab-pane fade table-responsive"
     id="job-groups"
     role="tabpanel"
     aria-labelledby="job-groups-tab">
  <div class="d-flex justify-content-end mb-3 gap-2">
    <button class="btn btn-sm text-white"
            data-bs-toggle="modal"
            data-bs-target="#addJobGroupModal"
            style="background-color: #3626a7">
      <i class="bi bi-plus-circle"></i> Add Job Group
    </button>
    <!-- Delete All Job Groups Button -->
    <button class="btn btn-sm btn-danger text-white"
            data-bs-toggle="modal"
            data-bs-target="#deleteAllJobGroupsModal">
      <i class="bi bi-trash"></i> Delete All Job Groups
    </button>
  </div>
  <table id="jobGroupsTable" class="table table-bordered table-striped">
    <thead class="table-primary">
      <tr>
        <th>Job Group</th>
        <th>Base Salary</th>
        <th>Allowances</th>
        <th>Deductions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job_group_data in job_group_data %}
        <tr>
          <td>{{ job_group_data.job_group.name }}</td>
          <td>KES {{ job_group_data.job_group.base_salary|floatformat:2|intcomma }}</td>
          <td>
            {% for allowance in job_group_data.job_group_allowances %}
              <div class="d-flex flex-column">
                <span>
                  {{ allowance.allowance.name }}
                  (
                  {% if allowance.calculation_type == 'percentage' %}
                    {{ allowance.value }}% of Base Salary
                  {% else %}
                    KES {{ allowance.value|floatformat:2|intcomma }}
                  {% endif %}
                  )
                </span>
                {% if not forloop.last %}
                  <hr class="my-2">
                  <!-- Divider between items -->
                {% endif %}
              </div>
            {% empty %}
              <span class="fw-bold">No allowances assigned</span>
            {% endfor %}
          </td>
          <td>
            {% for deduction in job_group_data.job_group_deductions %}
              <div class="d-flex flex-column">
                <span>
                  {{ deduction.deduction.name }}
                  (
                  {% if deduction.calculation_type == 'percentage' %}
                    {{ deduction.value }}% of Base Salary
                  {% else %}
                    KES {{ deduction.value|floatformat:2|intcomma }}
                  {% endif %}
                  )
                </span>
                {% if not forloop.last %}
                  <hr class="my-2">
                  <!-- Divider between items -->
                {% endif %}
              </div>
            {% empty %}
              <span class="fw-bold">No deductions assigned</span>
            {% endfor %}
          </td>
          <td>
            <!-- Edit Button -->
            <button type="button"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editJobGroupModal-{{ job_group_data.job_group.id }}">
              <i class="bi bi-pencil"></i>
            </button>
            <!-- Delete Button -->
            <button type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteJobGroupModal-{{ job_group_data.job_group.id }}">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <!-- Delete Job Group Modal -->
        {% include 'modals/delete_modals/delete_jobgroup_modal.html' %}
      {% endfor %}
    </tbody>
  </table>
</div>
