{% extends "layouts/form_layout.html" %}
{% load static %}
{% block content %}
  <div class="form-container">
    <div class="card shadow-lg p-4 form-card contact-us-card">
      <div class="card-header text-center">
        <div id="account_page_logo" class="mb-2">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/logo-white.png' %}"
                 alt=""
                 width="48"
                 height="64">
          </a>
        </div>
        <h4 class="mb-0">Contact Us</h4>
      </div>
      <div class="card-body">
        <p class="text-center">Enter your details to contact us.</p>
        <form action="{% url 'contact_admin' %}" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-4 mb-0">
              <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="id_number"
                       name="id_number"
                       placeholder="Enter your ID number"
                       required>
                <label for="id_number" class="form-label text-black-50">ID Number</label>
              </div>
            </div>
            <div class="col-md-8 mb-0">
              <div class="form-floating">
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter your email"
                       required>
                <label for="email" class="form-label text-black-50">Email</label>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <label for="query_type" class="form-label">What's your query?</label>
            <select class="form-select" id="query_type" name="query_type" required>
              <option value="Account Issue" selected>Account Issue</option>
              <option value="Technical Support">Technical Support</option>
              <option value="General Inquiry">General Inquiry</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <textarea class="form-control"
                      id="message"
                      name="message"
                      rows="3"
                      placeholder="Your Message"
                      required></textarea>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn contact-us-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
