{% extends "layouts/form_layout.html" %}
{% block title %}
  <title>Employee Login | EasyPay</title>
{% endblock title %}
{% load static %}
{% block content %}
  <div class="form-container">
    <div class="card shadow-lg p-4 form-card">
      <div class="card-header text-center bg-tertiary">
        <div id="account_page_logo" class="mb-2">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/logo-white.png' %}"
                 alt=""
                 width="48"
                 height="64">
          </a>
        </div>
        <h4 class="mb-0">Employee Login</h4>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'login_employee' %}">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   name="username"
                   id="username"
                   placeholder="Enter your username"
                   required>
            <label for="username" class="form-label text-black-50">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password"
                   class="form-control"
                   name="password"
                   id="password"
                   placeholder="Enter your password"
                   required>
            <label for="password" class="form-label text-black-50">Password</label>
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
        </form>
      </div>
      <div class="card-footer text-center">
        <div class="forgot-password-text mb-2">
          <small>Forgot your password? <a href="{% url 'request_password_reset' %}">Reset Password</a></small>
        </div>
        <div class="missing-account-text">
          <small>Don't have an account? <a href="{% url 'verify_employee' %}">Verify your Account</a></small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
