@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #b5b5b5;
}
a {
  color: #00bcd4; /* Bright Cyan */
  text-decoration: none; /* Optional, for removing underline */
}

a:hover {
  color: #ffeb3b; /* Light Yellow on hover */
}

/* Form Layout */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
.card {
  width: 400px;
  border-radius: 10px;
}
.form-card {
  background-color: #3626a7;
  color: #ffffff;
  border-radius: 10px;
}

.password-reset-card {
  width: 450px;
}

/* Form Elements */
.form-control {
  color: #0d0106;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.1rem;
}

.contact-us-card {
  /* remove width */
  width: 50%;
}
.contact-us-btn {
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 0;
  padding: 10px;
  width: 100%;
}
.contact-us-btn:hover {
  color: #1d537d;
  background-color: #ffffff;
  border: 3px solid #ffffff;
}
.segmented-input {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between inputs */
}

.segmented-input input {
  width: 50px; /* Adjust the width of each input box */
  height: 50px; /* Adjust the height of each input box */
  font-size: 1.5rem; /* Make the text inside the inputs larger */
  text-align: center; /* Center the text inside the input */
  border: 1px solid #ccc; /* Add a light border */
  border-radius: 8px; /* Round the corners slightly */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.segmented-input input:focus {
  border-color: #007bff; /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
  outline: none; /* Remove the default outline */
}

.segmented-input input::placeholder {
  color: #ddd; /* Add placeholder color if placeholders are used */
}
