<!-- Delete Job Group Modal -->
<div class="modal fade"
     id="deleteJobGroupModal-{{ job_group_data.job_group.id }}"
     tabindex="-1"
     aria-labelledby="deleteJobGroupModalLabel-{{ job_group_data.job_group.id }}"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"
            action="{% url 'delete_job_group' job_group_data.job_group.id %}">
        {% csrf_token %}
        <div class="modal-header text-white bg-danger">
          <h5 class="modal-title"
              id="deleteJobGroupModalLabel-{{ job_group_data.job_group.id }}">Delete Job Group</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete the job group <strong>{{ job_group_data.job_group.name }}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
