{% load crispy_forms_tags %}
<!-- Add Department Modal -->
<div class="modal fade"
     id="addDepartmentModal"
     tabindex="-1"
     aria-labelledby="addDepartmentModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"
            action="{% url 'add_department' %}"
            id="department-form">
        {% csrf_token %}
        <div class="modal-header text-white" style="background-color: #3626a7;">
          <h5 class="modal-title fw-bold" id="addDepartmentModalLabel">Add Department</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: #dbdbdb;">
          <!-- Render the form -->
          <div class="mb-3">{% crispy department_form %}</div>
        </div>
        <div class="modal-footer" style="background-color: #dbdbdb;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <!-- Submit the form -->
          <button type="Submit"
                  form="department-form"
                  class="btn text-white"
                  style="background-color: #3626a7">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
