<!-- Add Deduction Modal -->
<div class="modal fade"
     id="addDeductionModal"
     tabindex="-1"
     aria-labelledby="addDeductionModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'add_deduction' %}">
        {% csrf_token %}
        <div class="modal-header text-white" style="background-color: #3626a7;">
          <h5 class="modal-title" id="addDeductionModalLabel">Add Deduction</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: #dbdbdb;">
          <div class="mb-3">
            <label for="deductionName" class="form-label">Deduction Name</label>
            <input type="text"
                   class="form-control"
                   id="deductionName"
                   name="name"
                   required>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #dbdbdb;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit"
                  class="btn text-white"
                  style="background-color: #3626a7">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
