{% extends "layouts/admin_dashboard_layout.html" %}
{% load humanize %}
{% load static %}
{% block title %}
  <title>System Tables | EasyPay</title>
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <!-- Main Content -->
    <main class="main-content">
      <nav class="navbar navbar-expand-lg dash-nav mb-2">
        <div class="container-fluid">
          <i class="bi bi-table me-2" style="font-size: 1.5rem"></i>
          <h1 class="navbar-brand fw-bold mb-0" style="font-size: 1.5rem">Tables</h1>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                    <i class="bi bi-person-circle me-1" style="font-size: 1.5rem"></i>
                    <span class="fw-bold" style="font-size: 1.1rem;">{{ user.username }}</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="">
                        <i class="bi bi-person-gear me-1"></i>
                        <span>Account Settings</span></a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'logout_admin' %}">
                        <i class="bi bi-box-arrow-left me-1"></i>
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Card -->
      <div class="card mt-2">
        <div class="card-body">
          <!-- Tabs -->
          <ul class="nav nav-tabs" id="tablesTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active"
                 id="employees-tab"
                 data-bs-toggle="tab"
                 href="#employees"
                 role="tab"
                 aria-controls="employees"
                 aria-selected="true"><i class="bi bi-people-fill me-2"></i>Employees</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link"
                 id="job-groups-tab"
                 data-bs-toggle="tab"
                 href="#job-groups"
                 role="tab"
                 aria-controls="job-groups"
                 aria-selected="false"><i class="bi bi-briefcase me-2"></i>Job Groups</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link"
                 id="allowances-tab"
                 data-bs-toggle="tab"
                 href="#allowances"
                 role="tab"
                 aria-controls="allowances"
                 aria-selected="false"><i class="bi bi-plus-circle me-2"></i>Allowances</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link"
                 id="deductions-tab"
                 data-bs-toggle="tab"
                 href="#deductions"
                 role="tab"
                 aria-controls="deductions"
                 aria-selected="false"><i class="bi bi-dash-circle me-2"></i>Deductions</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link"
                 id="departments-tab"
                 data-bs-toggle="tab"
                 href="#departments"
                 role="tab"
                 aria-controls="departments"
                 aria-selected="false"><i class="bi bi-building me-2"></i>Departments</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link"
                 id="branches-tab"
                 data-bs-toggle="tab"
                 href="#branches"
                 role="tab"
                 aria-controls="branches"
                 aria-selected="false"><i class="bi bi-buildings me-2"></i>Branches</a>
            </li>
          </ul>
          <!-- Tab Content -->
          <div class="tab-content mt-3" id="tablesTabContent">
            <!--TABLES-->
            <!-- Employees Table -->
            {% include "tables/employees_table.html" %}
            <!-- Job Groups Table -->
            {% include "tables/job_groups_table.html" %}
            <!-- Allowances Table -->
            {% include "tables/allowances_table.html" %}
            <!-- Deductions Table -->
            {% include "tables/deductions_table.html" %}
            <!-- Departments Table -->
            {% include "tables/departments_table.html" %}
            <!-- Branches Table -->
            {% include "tables/branches_table.html" %}
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- MODALS -->
  <!-- Add Modals -->
  {% include "modals/add_modals/add_employee_modal.html" %}
  {% include "modals/add_modals/add_jobgroup_modal.html" %}
  {% include "modals/add_modals/add_allowance_modal.html" %}
  {% include "modals/add_modals/add_deduction_modal.html" %}
  {% include "modals/add_modals/add_branch_modal.html" %}
  {% include "modals/add_modals/add_department_modal.html" %}
  <!-- Edit Modals -->
  {% include "modals/edit_modals/edit_jobgroup_modal.html" %}
  <!-- Delete All Modals -->
  {% include "modals/delete_modals/delete_all/delete_all_employees_modal.html" %}
  <!-- JAVASCRIPTS -->
  <script src="{% static 'js/datatables.js' %}"></script>
{% endblock content %}
