{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
  <title>Home | EasyPay</title>
{% endblock title %}
{% block body %}
  <!-- Navbar -->
  <div class="container-fluid mt-2">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold mb-0" href="#">
          <div class="d-flex align-items-center">
            <img src="{% static 'images/logo.png' %}" alt="" width="45" height="45">
            <h1 class="mb-0">EasyPay</h1>
          </div>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item me-3">
              <a class="nav-link contact-us-nav-btn fw-bold"
                 style="font-size: 1rem;
                        color: #632516"
                 href="#contact-us">Contact Us</a>
            </li>
            <li class="nav-item me-3">
              <a class="btn admin-btn" href="{% url 'admin_dashboard' %}">Admin Login</a>
            </li>
            <li class="nav-item">
              <a class="btn employee-btn" href="{% url 'employee_dashboard' %}">Employee Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  {# Main Content #}
  <main>
    {# Hero Section #}
    <section class="hero-section">
      <div class="container d-flex flex-column align-items-center text-center">
        <h1 class="hero-title mb-3">
          Effortless Payroll Management with
          <br>
          <span class="brand-1">Easy</span><span class="brand-2">Pay</span>
        </h1>
        <div class="hero-description" style="max-width: 600px;">
          <p>
            Manage employees, job groups, branches, generate payslips, and much more – all in one place.
            Simplify salary calculations, streamline allowances and deductions, and ensure accurate payments with ease.
          </p>
          <p>
            Experience seamless payroll management with EasyPay <span class="fw-bold">today!</span>
          </p>
        </div>
        <div class="image-container d-flex mb-3">
          <div class="admin-image d-flex flex-column justify-content-center align-items-end gap-4">
            <a href="{% url 'admin_dashboard' %}" class="btn admin-hero-btn btn-lg">Admin Dashboard</a>
            <img src="{% static 'images/Admin_Dashboard.png' %}"
                 alt="Admin Dashboard Image"
                 class="admin-img" />
          </div>
          <div class="employee-image d-flex flex-column justify-content-center align-items-start gap-4">
            <a href="{% url 'employee_dashboard' %}"
               class="btn employee-hero-btn btn-lg">Employee Dashboard</a>
            <img src="{% static 'images/Employee_Dashboard.png' %}"
                 alt="Employee Dashboard Image"
                 class="employee-img" />
          </div>
        </div>
      </div>
    </section>
    {# Benefits #}
    <section class="benefits mt-4" id="benefits">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-4">
            <div class="card benefit-card1 h-100">
              <div class="card-body">
                <i class="bi bi-bullseye" style="font-size: 2rem;"></i>
                <h3>Accurate</h3>
                <p>
                  EasyPay ensures that your payslips are accurate and up-to-date, providing you with the information you need to make informed decisions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card benefit-card2 h-100">
              <div class="card-body">
                <i class="bi bi-info-circle" style="font-size: 2rem;"></i>
                <h3>Informative</h3>
                <p>
                  EasyPay provides you with the information you need to make informed decisions, ensuring that your payslips are accurate and up-to-date.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card benefit-card3 h-100">
              <div class="card-body">
                <i class="bi bi-speedometer" style="font-size: 2rem;"></i>
                <h3>Efficient</h3>
                <p>EasyPay streamlines your payroll management process, ensuring that your payslips are accurate and up-to-date.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      {# Frequently Asked Questions #}
      <section class="faq mt-3" id="faq">
        <div class="container p-3">
          <div class="section-title text-center d-flex flex-column align-items-center mb-4">
            <h2 class="section-title-text fw-bold mb-0">Frequently Asked Questions</h2>
            <div class="underline"></div>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                  <span class="fw-bold">Why EasyPay?</span>
                </button>
              </h2>
              <div id="collapseOne"
                   class="accordion-collapse collapse show"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo">Accordion Item #2</button>
              </h2>
              <div id="collapseTwo"
                   class="accordion-collapse collapse"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree">Accordion Item #3</button>
              </h2>
              <div id="collapseThree"
                   class="accordion-collapse collapse"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {# Contact Us #}
      <section class="contact-us mt-3" id="contact-us">
        <div class="container p-3">
          <div class="section-title text-center d-flex flex-column align-items-center mb-4">
            <h2 class="section-title-text fw-bold mb-0">Contact Us</h2>
            <div class="underline"></div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="card shadow-lg p-4 contact-info h-100">
                <div class="card-body">
                  <h2 class="contact-us-title">Contact Info</h2>
                  <p class="contact-us-text">Reach out to us anytime with any questions or concerns.</p>
                  <div class="d-flex contact-us-social-icons">
                    <a href="https://www.linkedin.com/in/EasyPay/">
                      <i class="bi bi-linkedin me-2"></i>
                    </a>
                    <a href="https://facebook.com/EasyPay">
                      <i class="bi bi-facebook me-2"></i>
                    </a>
                    <a href="https://twitter.com/EasyPay">
                      <i class="bi bi-twitter-x me-2"></i>
                    </a>
                  </div>
                  <div class="contact-information mt-3">
                    <div class="d-flex justify-content-start gap-4 mb-2">
                      <i class="bi bi-geo-alt" style="font-size: 2rem;"></i>
                      <div class="col-md-6">
                        <h5>Our Location</h5>
                        <p>123 Main Street, Anytown USA</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start gap-4 mb-2">
                      <i class="bi bi-telephone" style="font-size: 2rem;"></i>
                      <div class="col-md-6">
                        <h5>Phone Number</h5>
                        <p>+91-1234567890</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start gap-4 mb-2">
                      <i class="bi bi-envelope" style="font-size: 2rem;"></i>
                      <div class="col-md-6">
                        <h5>Email Address</h5>
                        <p>contact@example.com</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 contact-us-right">
              <div class="card shadow-lg p-4 get-in-touch h-100">
                <div class="card-body">
                  <h2 class="contact-us-title">Get In Touch</h2>
                  <p class="get-in-touch-text">Fill out the form below to get in touch with us.</p>
                  <form class="contact-us-form">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="name" placeholder="Name">
                          <label for="name" class="text-black-50">Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" id="email" placeholder="Email">
                          <label for="email" class="text-black-50">Email</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="subject" placeholder="Subject">
                      <label for="subject" class="text-black-50">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                      <textarea class="form-control"
                                id="message"
                                placeholder="Enter your message"
                                style="height: 100px"></textarea>
                      <label for="message" class="text-black-50">Message</label>
                    </div>
                    <div class="get-in-touch-btn-container">
                      <button type="submit" class="btn get-in-touch-btn mt-3">
                        <i class="bi bi-send-fill" style="font-size: 1rem"></i>
                        <span>Send Message</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="mt-3 text-center">
        <div class="container p-3">&copy; 2024 EasyPay. All rights reserved.</div>
      </footer>
    </main>
  {% endblock body %}
